@import "../../../assets/styles/mixins";

h3 {
  text-align: center;
}
.row {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-bottom: 18px;
    img {
      max-height: 100%;
    }
  }
}


