
<section class="light" id="site-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Proiecte realizate</h3>
      </div>
    </div>
    <div class="row gallery">
      <div routerLink="/portfolioElements" class="col-3 col-md-5 col-sm-12">
        <img src="../../../assets/images/previews/portfolioElements.png" alt="portfolio-elements">
        <span class="textBig">Elemente portofoliu</span>
      </div>
      <div routerLink="/weatherForecast" class="col-3 col-md-5 col-sm-12">
        <!--        <img src="../../../assets/images/previews/colorPalette.png" alt="color-palette">-->
        <span class="textBig">Prognoza meteo</span>
      </div>
      <div routerLink="/jobApplication" class="col-3 col-md-5 col-sm-12">
        <img src="../../../assets/images/previews/jobApplication.png" alt="job-application">
        <span class="textBig">Oferta de angajare</span>
      </div>
      <div routerLink="/carsStatus" class="col-3 col-md-5 col-sm-12">
        <img src="../../../assets/images/previews/carsStatus.png" alt="cars-status">
        <span class="textBig">Status Masini</span>
      </div>
      <div routerLink="/colorPalette" class="col-3 col-md-5 col-sm-12">
        <img src="../../../assets/images/previews/colorPalette.png" alt="color-palette">
        <span class="textBig">Paleta de culori</span>
      </div>
      <div routerLink="/responsiveTable" class="col-3 col-md-5 col-sm-12">
        <img src="../../../assets/images/previews/responsiveTable.png" alt="responsive-table">
        <span class="textBig">Tabel Responsive</span>
      </div>
    </div>
  </div>
</section>

