<h3>Proiecte realizate</h3>
<br>
<div class="row">
  <a routerLink="/CarsStatus" class="col-4 col-md-6 col-sm-12">
    <img src="../../../assets/images/previews/carsStatus.png" alt="cars-status">
    <span class="textBig">Status Masini</span>
  </a>
  <a routerLink="/ColorPalette" class="col-4 col-md-6 col-sm-12">
    <img src="../../../assets/images/previews/colorPalette.png" alt="color-palette">
        <span class="textBig">Paleta de culori</span>
  </a>
  <a routerLink="/ResponsiveTable" class="col-4 col-md-6 col-sm-12">
    <img src="../../../assets/images/previews/responsiveTable.png" alt="responsive-table">
        <span class="textBig">Tabel Responsive</span>
  </a>
</div>
