<section id="menu" class="dark">
  <div class="container menu">
    <img routerLink="home" src="../assets/images/logo.png" alt="logo">
    <ul>
      <li routerLink="home" routerLinkActive="active">Acasa</li>
      <li routerLink="work" routerLinkActive="active">Proiectele mele</li>
    </ul>
    <span routerLink="cv">Curriculum Vitae</span>
  </div>
</section>
<router-outlet></router-outlet>
<section id="footer" class="dark">
  <div class="container">
    <img src="../assets/images/logo.png" alt="logo">
    <span>Copyright © 2022 Laurentiu Paun.</span>
  </div>
</section>
