@import "../assets/styles/variables";
@import "../assets/styles/mixins";

#menu {
  padding: 16px 0;


  .container {
    display: flex;
    align-items: center;
  }

  .menu {
    @include onMobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      cursor: pointer;
      margin-right: 150px;

      @include onMobile {
        margin: 0 0 32px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 40px;
      flex: 1;
      @include onMobile {
        flex-direction: column;
      }

      li {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          color: $col-orange;
        }

        @include onMobile {
          margin-bottom: 12px;
          text-align: center;
        }
      }
    }

    #cv {
      font-weight: 900;
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      padding: 16px 32px;
      border: 1px solid rgba(255, 255, 255, 0.295743);
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background: $col-light-beige;
        color: $col-brown;
      }
    }
  }
}

#footer {
  padding: 16px 0;

  .container {
    display: flex;
    align-items: center;
    @include onMobile {
      flex-direction: column;
    }

    img {
      height: 30px;
      @include onMobile {
        margin-bottom: 16px;
      }
    }

    span {
      flex: 1;
      text-align: right;
      opacity: 0.64;
      @include onMobile {
        text-align: center;
      }
    }
  }
}
