<div class="container light">
  header
  <hr>
  <ul>
    <li routerLink="home">Acasa</li>
    <li routerLink="about">Despre mine</li>
    <li routerLink="cv">CV</li>
    <li routerLink="contact">Contact</li>
  </ul>
  <hr>
  <router-outlet></router-outlet>
  <hr>
  <div class="fieldLight">
    <label for="nume">Nume</label>
    <input type="text" name="test" id="nume" placeholder="Introduce-ti numele">
  </div>
  <br>
  <div class="field">
    <label for="standardSelect">Alege o masina</label>
    <div class="select">
      <select name="car" id="standardSelect">
        <option value="BMW">BMW</option>
        <option value="Mercedes">Mercedes</option>
        <option value="Audi">Audi</option>
        <option value="VW">VW</option>
        <option value="bugatti">Bugatti Chiron</option>
      </select>
    </div>
  </div>
  <hr>
  footer
</div>
