<h4>Tabel responsive</h4>
<div class="table">
  <div class="table-row header">
    <div class="cell poza"></div>
    <div class="cell nume">Nume</div>
    <div class="cell functie">Functie</div>
    <div class="cell salariu">Salariu</div>
    <div class="cell societate">Societate</div>
    <div class="cell dataAngajare">Data angajare</div>
  </div>
  <div class="table-row">
    <div class="cell poza">
      <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="">
    </div>
    <div class="cell nume" header-atr="Nume: ">John</div>
    <div class="cell functie" header-atr="Functie: ">CEO</div>
    <div class="cell salariu" header-atr="Salariu: ">30000</div>
    <div class="cell societate" header-atr="Societate: ">Samsung</div>
    <div class="cell dataAngajare" header-atr="Data angajare: ">10.10.2010</div>
  </div>
  <div class="table-row">
    <div class="cell poza">
      <img src="https://randomuser.me/api/portraits/men/20.jpg" alt="">
    </div>
    <div class="cell nume" header-atr="Nume: ">Mircea</div>
    <div class="cell functie" header-atr="Functie: ">Sales Manager</div>
    <div class="cell salariu" header-atr="Salariu: ">20000</div>
    <div class="cell societate" header-atr="Societate: ">Huawei</div>
    <div class="cell dataAngajare" header-atr="Data angajare: ">15.15.2015</div>
  </div>
  <div class="table-row">
    <div class="cell poza">
      <img src="https://randomuser.me/api/portraits/men/30.jpg" alt="">
    </div>
    <div class="cell nume" header-atr="Nume: ">Michael</div>
    <div class="cell functie" header-atr="Functie: ">Bascketball player</div>
    <div class="cell salariu" header-atr="Salariu: ">30000</div>
    <div class="cell societate" header-atr="Societate: ">Bulls</div>
    <div class="cell dataAngajare" header-atr="Data angajare: ">05.05.1995</div>
  </div>
  <div class="table-row">
    <div class="cell poza">
      <img src="https://randomuser.me/api/portraits/men/40.jpg" alt="">
    </div>
    <div class="cell nume" header-atr="Nume: ">Vlad</div>
    <div class="cell functie" header-atr="Functie: ">Barman</div>
    <div class="cell salariu" header-atr="Salariu: ">5000</div>
    <div class="cell societate" header-atr="Societate: ">Player Club</div>
    <div class="cell dataAngajare" header-atr="Data angajare: ">12.12.2012</div>
  </div>
  <div class="table-row">
    <div class="cell poza">
      <img src="https://randomuser.me/api/portraits/men/50.jpg" alt="">
    </div>
    <div class="cell nume" header-atr="Nume: ">Jackson</div>
    <div class="cell functie" header-atr="Functie: ">Rapper</div>
    <div class="cell salariu" header-atr="Salariu: ">20000</div>
    <div class="cell societate" header-atr="Societate: ">123 Records</div>
    <div class="cell dataAngajare" header-atr="Data angajare: ">02.02.2002</div>
  </div>
  <div class="table-row">
    <div class="cell poza">
      <img src="https://randomuser.me/api/portraits/men/60.jpg" alt="">
    </div>
    <div class="cell nume" header-atr="Nume: ">Dorel</div>
    <div class="cell functie" header-atr="Functie: ">Zugrav</div>
    <div class="cell salariu" header-atr="Salariu: ">4000</div>
    <div class="cell societate" header-atr="Societate: ">Z Construction</div>
    <div class="cell dataAngajare" header-atr="Data angajare: ">08.08.2018</div>
  </div>
</div>
