<section class="light" id="site-content">
  <div class="container">
    <div class="row">
      <div class="col-12 dark header">
        <div class="title">
          <h2>Laurențiu Păun</h2>
          <h4>Web Developer</h4>
        </div>
        <img src="../../../assets/images/laurentiu-avatar.jpg" alt="laurentiu-paun">
      </div>
    </div>
    <div class="row info">
      <div class="col-4 left-side border-bottom contact">
        <div class="tel">
          <span> +4 0766 308 494</span>
        </div>
        <div class="e-mail">
          <span> laurentiu.1093@gmail.com</span>
        </div>
        <div class="address">
          <span> Str. Lujerului nr. 42, Bucharest</span>
        </div>
        <div class="website">
          <span> github.com/laurentiu-paun</span>
        </div>
      </div>
      <div class="col-8 right-side border-bottom">
        <h3>Career summary</h3>
        <span>Solution-oriented and problem solver with nearly 10 years of experience in I.T. Willingness to learn, embracing new technologies. Strong creative and analytical skills, with the ability to communicate effectively in a team setting, with an eye for detail.</span>
      </div>
    </div>
    <div class="row info">
      <div class="col-4 left-side border-bottom">
        <h3>Skills</h3>
        <ul>
          <li>Front-End Web Development</li>
          <li>User Experience Understanding</li>
          <li>Content Management Systems</li>
          <li>Programming Languages</li>
          <li>Problem-Solving</li>
          <li>Computer Literacy</li>
          <li>Business Logic</li>
        </ul>
      </div>
      <div class="col-8 right-side">
        <h3>Knowledge</h3>
        <h5>Certifications & Awards</h5>
        <ul>
          <li>PHP Certificate - Web Programmer I</li>
          <li>Java Certificate 1 - Fundamental notions</li>
          <li>Award of Course Completion, Business Process management -BPM Methodology Basics-</li>
          <li>Networking - 3rd place winner in the Telecommunications Technician Contest "Stagii de practica si consiliere vocationala"</li>
          <li>Employee of the month - June 2017 (Tuborg Romania)</li>
        </ul>
      </div>
    </div>
    <div class="row info">
      <div class="col-4 left-side">
        <h3>Education</h3>
        <h5 class="h5small">UI Development Mentorship</h5>
        <div class="details">
          <strong>HTML, CSS, Bootstrap, Git, SASS</strong>
          <span>May 2022 -Jul 2022</span>
        </div>
        <h5 class="h5small">Master's Degree</h5>
        <div class="details">
          <strong>eBusiness, C.S.I.E., A.S.E. Bucharest</strong>
          <span>2015-2017</span>
        </div>
        <h5 class="h5small">Bachelor's Degree</h5>
        <div class="details">
          <strong>Economic Informatics, C.S.I.E., A.S.E. Bucharest</strong>
          <span>2012-2015</span>
        </div>
      </div>
      <div class="col-8 right-side">
        <h5>Technical Knowledges</h5>
        <ul>
          <li><strong>UI Development: </strong>HTML5, CSS3, SCSS</li>
          <li><strong>Backend Development: </strong>PHP, MySQL, Java, SQL, Fullstack MEAN (MongoDB, Express, AngularJS, Node.js)</li>
          <li><strong>UI/UX Tools: </strong>Figma, Zeplin</li>
          <li><strong>Development Tools: </strong>Git Desktop, WebStorm (InteliJ)</li>
          <li><strong>Repository: </strong>GitHub, BitBucket</li>
        </ul>
        <div class="experience">
          <h3>Experience</h3>
          <div class="experience-item">
            <h5>Wordpress Developer</h5>
            <strong>Developers Crew</strong>
            <div class="company-details">
              <ul>
                <li>Build and maintain different websites using WordPress CMS</li>
                <li>Built the logic for a result-oriented business using Digital Marketing</li>
                <li>Handling administrative tasks</li>
              </ul>
            </div>
          </div>
          <div class="experience-item">
            <h5>Programmer Analyst & IT Specialist</h5>
            <strong>Tuborg Romania (U.R.B.B.)</strong>
            <div class="company-details">
              <ul>
                <li>System administration (SAP, SureMDM, Google G Suite etc.)</li>
                <li>Providing responsive tech support (software and harware)</li>
                <li>Maintaining software workflow management</li>
              </ul>
            </div>
          </div>
          <div class="experience-item">
            <h5>Programmer Analyst</h5>
            <strong>U.M.F. "Carol Davila" Bucharest</strong>
            <div class="company-details">
              <ul>
                <li>Web content management (institution's websites)</li>
                <li>Providing responsive tech support (software and harware)</li>
                <li>Organization and IT support for the main exams</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
