@import "../../../assets/styles/mixins";
@import "../../../assets/styles/classes";

#hero {
  padding: 120px 0;

  .container {
    align-items: center;

    & > div > div {
      display: flex;
      flex-direction: column;
    }

    h5 {
      margin-bottom: 24px;
      color: $col-orange;
    }

    h1 {
      margin-bottom: 24px;
    }

    span {
      opacity: 0.64;
      margin-bottom: 32px;
      display: block;
    }

    .pictureDesign {
      position: relative;
      img {
        max-height: 400px;
        width: auto;
      }

      &:before {
        content: url("../../../assets/images/elements/star.png");
        z-index: 2;
        position: absolute;
        right: 70px;
        top: -80px;
      }

      &:after {
        content: url("../../../assets/images/elements/graph.png");
        z-index: 1;
        position: absolute;
        right: 40px;
        bottom: -40px;
      }

      @include onMobile {
        display: none;
      }
    }
    @include onMobile {
      text-align: center;
      button {
        align-self: center;
        background: $col-orange;
      }
    }
  }
}

#site-content {
  .details {
    align-items: center;
    justify-content: center;
    #aboutWeb {
      @extend %flexColumn;
    }
    @include onMobile {
      text-align: center;
    }
  }
}
