<section id="hero" class="dark">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h5>Laurentiu Paun</h5>
        <h1>UI Developer</h1>
        <span>Junior Self Learner & Autodidact</span>
        <button routerLink="work">Proiectele mele</button>
      </div>
      <div class="col-4">
        <img src="../assets/images/laurentiu.png" alt="logo">
      </div>
    </div>
  </div>
</section>

<section class="light" id="site-content">
  <div class="container">
    <p>home works!</p>
  </div>
</section>
