<section id="hero" class="dark">
  <div class="container">
    <div class="row">
      <div class="col-7 col-sm-12">
        <h5>Laurentiu Paun</h5>
        <h1>UI Developer</h1>
        <span>Junior Self Learner & Autodidact</span>
        <button routerLink="work">Proiectele mele</button>
      </div>
      <div class="col-5">
        <div class="pictureDesign">
          <img src="../assets/images/laurentiu.png" alt="photo">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="light" id="site-content">
  <div class="container">
    <div class="row details">
      <div class="col-5 col-md-5 col-sm-12">
        <img src="../../../assets/images/elements/pic.png" alt="pic">
      </div>
      <div class="col-2 hidden-md-down"></div>
      <div class="col-5 col-md-5 col-sm-12" id="aboutWeb">
        <h5>Laurentiu Paun</h5>
        <h2>Web Development</h2>
        <span class="textBig">Intodeauna pot invata lucruri noi</span>
        <span>Acelasi lucru poate fi realizat prin mai multe moduri... Dar rezultatul final trebuie sa fie cel scontat!</span>
      </div>
    </div>
  </div>
</section>
