@import "../../../../assets/styles/classes";

h3 {
  @extend %projectTitleStyles
}

.elements {
  gap: 20px;
  justify-content: center;
  .row-element {
    display: flex;
    justify-content: center;
    &.dark {
      border-radius: 10px;
    }
    button, input[type=button] {
      margin: 20px;
    }
  }
}
