<section class="light" id="site-content">
  <div class="container">
    <div class="row">
      <h3 class="projectTitle col-12">Prognoza meteo</h3>
    </div>
    <div class="row">
      <div class="col-12 centered">
        <div class="wrap">
          <div class="forecast-header">
            <span class="title">Storm</span>
            <div class="image">
              <img src="../../../../assets/images/projects-images/weather-forecast/Group9.1.png"
                   alt="wheather-thumbnail-big">
            </div>
            <span class="time">20:18</span>
          </div>
          <div class="details">
            <div class="now">
              <div class="info">
                <span class="temperature">33°</span>
                <span class="date">Monday 16</span>
              </div>
              <div class="extra">
                <img src="../../../../assets/images/projects-images/weather-forecast/Group9.1.png" alt="wheather-thumbnail-medium">
                <span>4mph / 67°</span>
              </div>
            </div>
            <div class="day">
              <span>Tue</span>
              <img src="../../../../assets/images/projects-images/weather-forecast/Group6.png" alt="wheather-thumbnail-small">
              <span class="temperature">31°</span>
            </div>
            <div class="day">
              <span>Wed</span>
              <img src="../../../../assets/images/projects-images/weather-forecast/Group5.png"
                   alt="wheather-thumbnail-small">
              <span class="temperature">30°</span>
            </div>
            <div class="day">
              <span>Thu</span>
              <img src="../../../../assets/images/projects-images/weather-forecast/Group9.png"
                   alt="wheather-thumbnail-small">
              <span class="temperature">33°</span>
            </div>
            <div class="day">
              <span>Fri</span>
              <img src="../../../../assets/images/projects-images/weather-forecast/Group8.png"
                   alt="wheather-thumbnail-small">
              <span class="temperature">32°</span>
            </div>
            <div class="day">
              <span>Sat</span>
              <img src="../../../../assets/images/projects-images/weather-forecast/Group7.png"
                   alt="wheather-thumbnail-small">
              <span class="temperature">33°</span>
            </div>
            <div class="day">
              <span>Sun</span>
              <img src="../../../../assets/images/projects-images/weather-forecast/Group7.1.png"
                   alt="wheather-thumbnail-small">
              <span class="temperature">31°</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
