$grid__cols: 12;
$grid__bp-sm: 576px;
$grid__bp-md: 768px;
$grid__default: $grid__bp-md + 1px;
$page-width: 1440px;
$col-white: #FFFFFF;
$col-black: #000000;
$col-dark-blue: #28293E;
$col-light-beige: #FDF0E9;
$col-brown: #391400;//Text_Dark_gray
$col-beige-border: #F3D1BF;
$col-orange: #EF6D58;
$red:red;
