<section class="light" id="site-content">
  <div class="container">
    <div class="row">
      <h3 class="projectTitle">Oferta de angajare</h3>
    </div>
    <div class="row">
      <div class="wrap col-8 col-md-10 col-sm-12">
        <div class="header">
          <div class="photo">
            <img src="https://randomuser.me/api/portraits/women/26.jpg" alt="profile-picture">
          </div>
          <div class="person">
            <h3>Diana Apostolache</h3>
            <span>Free Agent</span>
            <span>Bucharest, Romania</span>
          </div>
          <div class="rate">
            <h2>1500 €</h2>
            <strong>Daily rate max.</strong>
            <span>incl. 50€ broker fee</span>
          </div>
        </div>
        <div class="description">
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur minima mollitia quaerat quo recusandae ut vel! Accusantium, eos error labore, minima molestias.</span>
          <div class="buttons">
            <button>Arhiveaza</button>
            <button class="purple">Sterge</button>
          </div>
        </div>
        <div class="details">
          <div class="column">
            <h4>Duration & occupation</h4>
            <div class="detailRow">
              <span>Start date</span>
              <span>ASAP</span>
            </div>
            <div class="detailRow">
              <span>Length</span>
              <span>6 months</span>
            </div>
            <div class="detailRow">
              <span>Occupation</span>
              <span>Full time</span>
            </div>
          </div>
          <div class="column">
            <h4>Max daily rate</h4>
            <h2>1000 €</h2>
            <span>Incl. 25€ broker fee</span>
          </div>
          <div class="column">
            <h4>Payment</h4>
            <span>According to contract terms</span>
            <span>Fast payment available</span>
            <strong>Framework agreements</strong>
          </div>
        </div>
        <h2 class="title">UX Designer & Frontend Developer</h2>
        <div class="footer">
          <img src="../../../../assets/images/projects-images/TotalSoft.jpeg" alt="logo">
          <div class="company">
            <h4>TotalSoft Romania</h4>
            <span>Global City Business Park<br>10 Bucuresti-Nord Road, Building O2, 8th Floor, Voluntari, Ilfov</span>
          </div>
          <div class="action">
            <span>Deadline for application: <strong>2 days remaining</strong></span>
            <div class="buttons">
              <button class="bigButton">Archive</button>
              <button class="bigButton purple">Share</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
